.home-screens {
  background-image: url("./images/Colorful-Pencils-With-White-Background.jpeg");
  background-size: cover;
  /* Center and scale the image nicely */
  background-position: center;
  /* background-repeat: no-repeat; */
  height: 100vh;
}

#welcome-title {
  font-size: 100px;
  animation-name: mainTitleSlideUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

#welcome-subtitle {
  margin-top: 1rem;
  font-size: 25px;
}

#button-text {
  margin-top: auto;
  margin-bottom: auto;
}

.join-button {
  margin-top: 2rem;
  width: 40rem;
  height: 3rem;
}

.welcome-container {
  text-align: center;
}

#sign-in-text {
  color: rgb(107, 105, 105);
  margin-top: 0.7rem;
}

#sign-in-phrase {
  color: blue;
  opacity: 0.6;
}

#sign-in-phrase:hover {
  color: blue;
  opacity: 1;
  cursor: pointer;
}

.join-button,
#sign-in-text {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#underscore-title {
  font-size: 90px;
  opacity: 0;
  animation-name: underscoreBlink;
  animation-timing-function: ease-in-out;
  animation-delay: 0.8s;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}

#usernameInput,
#passwordInput {
  width: 35rem;
}

.user-entry-container {
  animation: fadeInOpacity ease-in-out 0.5s;
}

@keyframes mainTitleSlideUp {
  0% {
    opacity: 0.3;
    margin-top: 300px;
  }
  100% {
    opacity: 1;
  }
}

.submit-btn {
  width: 100%;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes underscoreBlink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
